@charset "UTF-8";

*{margin: 0;padding: 0;}
li{list-style: none;}
a{color: #333; text-decoration: none;}
body{font-family: 'Pretendard';background: #e7e8e4;}
/* body > div {border: 1px solid red;}
body > div > * {border: 1px solid blue} */
/* 모든 태그라는 의미 */

.header{margin-bottom: 60px;}
.header .face {width: 110px;height: 110px; margin: 40px auto 20px auto;border-radius: 50%; overflow: hidden;}
/* overflow= hidden의 의미: 자식이 부모 넘어선건 숨겨준다. */
.header .face img {width: 100%;border-radius: 50%;}
/* 높이는 주지 않는다. 높이 주면 비율깨짐 */
.header .name{font-size: 24px;text-align: center;margin-bottom: 5px;}
.header .position{font-size: 16px;color: #656565;text-align: center;}

.textbox{margin-bottom: 60px;text-align: center;}
/* 글자 관련 속성은 지 자식들한테 상속되니까 그냥 위에다가 해도됨 */
.textbox .big{font-family: 'JSongmyeong';font-size: 20px; }
.textbox .small{font-size: 14px;}

.btnbox{margin-bottom: 60px;padding: 0 30px;}
.btnbox a{margin-bottom: 60px;background: #7a836f;color: #fff;padding: 12px 0 ;display: block;text-align: center;margin-bottom: 10px; }
/* display 블럭은 공간으로 처리 */
.btnbox .sms {background: #6f7b83;}
.btnbox .kakao {background: #99925e;}
.btnbox .email {background: #836f6f;}

.photobox{margin-bottom: 60px;border: 1px solid #000; padding: 28px 0;background:url(../images/easy\ photobox.png) repeat-x;}
.photobox .title {font-size: 16px;text-align: center;margin-bottom: 50px;}
.photobox .imagebox {display: flex;padding: 0 30px; gap: 24px 15px;flex-wrap: wrap ;justify-content: center;}
    /* gap = 상하, 좌우  flex를 준 부모들에게 줄바꿈을 주라고 말하는게 flex wrap :wrap 임 */
.imagebox li{width: 120px; height: 120px; border: 1px solid #000;flex-shrink: 0 ;}
/* flex shrink 사진들 작아지는거 막음 */
.imagebox li:nth-child(2n){margin-top: 80px;}
/* even 짝수 odd 홀수  */
.imagebox li img{width: 100%;}


.direction{margin-bottom: 60px;}
.direction .title{font-size: 16px;text-align: center;margin-bottom: 50px;}
.direction .direct_map{width: auto; border: 1px solid #000;height: 400px;}
/* width = 100%처럼 한줄을 다 쓰는 크기 는 padding 줘씅ㄹ 떄 추가되는거고, auto는 조절이 되는거임*/

.qrimg{width: 50px;position: absolute;left: 30px;top: 30;}
/*  절대적으로 위에 떠있고 위치는 포지션을 쓰는 순간  */
.qrimg img{width: 100%;}